name: Playwright Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/python:v1.57.0-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          python --version
          python -m pip install --upgrade pip
          python -m pip install pytest
          pip install -r requirements.txt
      - name: Run tests
        run: python -m pytest